<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd">


	<task:annotation-driven/>
	<context:component-scan base-package="com.wzj.web.task"/>

	<bean id="xmlTask" class="com.wzj.web.task.XmlTask"/>

	<task:scheduled-tasks>
		<!-- 这里表示的是每10秒执行一次 -->
		<task:scheduled ref="xmlTask" method="monitor" cron="*/10 * * * * ?" />
	</task:scheduled-tasks>

</beans>